<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Grocery Getter</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Grocery Getter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/">Home</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Home/Contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Product">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Store">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/Account">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" runat="server" href="~/UserProduct/Index">Grocery List</a>
                </li>

            </ul>
        </div>
    </div>


        <div class="banner">
            <div class="user-info">
                @{ Html.RenderAction("AccountBannerbar", "Account");}
            </div>
            <div class="logo_main">
                <a href="~/">
                    <img id="logo" src="~/Images/logo_main.png" />
                </a>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="row-cols-5">
                    <div class="sidebar rounded-top rounded-bottom">
                        <div>
                            <h3>Select Store</h3>
                            <hr />
                        </div>
                        <div>
                            @{ Html.RenderAction("StoreSidebar", "Store");}
                        </div>
                    </div>
                </div>

                <div class="main_container main_content rounded-top">
                    <div class="header rounded-top">
                    </div>
                    @RenderBody()

                </div>

                <div class=" user_product_container">
                    <div class="sidebar rounded-top rounded-bottom">
                        <div>
                            <img src="~/Images/icon.jpg" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <footer class="block-center">
            <p>&copy; @DateTime.Now.Year - Grocery Getter</p>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>


