@model GroceryGetter.BL.Models.User

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_GGLayout.cshtml";
}

@section Scripts {
<script>
    function comparePass() {
        var password = document.getElementById("password");
        var newpass1 = document.getElementById("newpass1");
        var newpass2 = document.getElementById("newpass2");

        var obj = {
            oldpass: password,
            newpass: newpass2
        };
        
        if (password == null) {
            alert("Password is required");
        }
        if (newpass1 != newpass2) {
            alert("New password must match");

        }
        else {
            alert("Working");
            return obj;
        }
        
    }

</script>
}

<div class="main_container main_content rounded-top">

    <h2>Change Password</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Id)

            <div class="text-danger">
                @ViewBag.Message
                <br />
                <br />
            </div>

            <div class="form-group">

                <label class="control-label col-md-2">Current Password</label>
                <div class="col-md-10">

                    <input type="password" id="password" class="form-control" />
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2">New Password</label>
                <div class="col-md-10">

                    <input type="password" id="newpass1" class="form-control" />
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-md-2">Confirm Password</label>
                <div class="col-md-10">

                    <input type="password" id="newpass2" class="form-control" />
                </div>
            </div>
            <br />



            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-primary" onclick="comparePass()" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>