@model GroceryGetter.BL.Models.User

@{
    ViewBag.Title = $"{Model.FirstName}'s List";
    Layout = "~/Views/Shared/_GGLayout.cshtml";
}

    <h2>@Model.FirstName's List</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)


    <p>
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Item 1
            <span class="badge badge-primary badge-pill">14</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Item 2
            <span class="badge badge-primary badge-pill">2</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Item 3
            <span class="badge badge-primary badge-pill">1</span>
        </li>
    </ul>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDiv" aria-expanded="false" aria-controls="collapseDiv">
        This will be item
    </button>
    
    <div class="collapse" id="collapseDiv">
        <div class="card card-body">
            This will be th info for the item.
        </div>
    </div>
    </p>

    @foreach (var item in Model.GroceryListObj)
    {
        <div>
            <div>
                @Html.LabelFor(modelItem => item.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(modelItem => item.Title)
            </div>
            <div>
                @Html.LabelFor(modelItem => item.InCart, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(modelItem => item.InCart)


            </div>

            <div>
                @Html.LabelFor(modelItem => item.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(modelItem => item.Amount)
            </div>
            <div>
                @Html.LabelFor(modelItem => item.Notes, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(modelItem => item.Notes)
            </div>
            <div>
                @Html.LabelFor(modelItem => item.Store, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(modelItem => item.Store)
            </div>
            <div>
                @Html.LabelFor(modelItem => item.Aisle, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.DisplayFor(modelItem => item.Aisle)
            </div>
            <div>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </div>
            <hr />
        </div>
    }




    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
    }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
