@model IEnumerable<GroceryGetter.BL.Models.UserProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_GGLayout.cshtml";
}

@section Scripts {
    <script>
        function clearList() {
            //if (confirm('Are you sure you want to clear your grocery list?')) {
                
            //    //console.log('Thing was saved to the database.');
            //} else {
            //    // Do nothing
               
            //}
            alert(".");
        }
    </script>
    
    
    }

<h2>Grocery List</h2>

<p>
    @Html.ActionLink("Add Product", "AddProducts")  |  <button onclick="clearList">Clear Shopping list</button>
</p>


<table class="user_products_table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InCart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="inCart" style="padding-left:18px">
                @Html.CheckBox("In Cart", item.InCart)
                @*<input type="checkbox" class="inCart" checked="@item.InCart" onclick="update(@item.Id)" />*@
            </td>
            <td>
                @Html.ActionLink(item.ProductTitle, "Edit", "UserProduct", new { Id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

