@model IEnumerable<GroceryGetter.BL.Models.UserProduct>

@{
    ViewBag.Title = "LoadByStoreId";
    Layout = "~/Views/Shared/_GGLayout.cshtml";
}
<h2>
    @*@Html.DisplayNameFor(model => model.StoreTitle )*@ - Grocery List
</h2>

<p>
    @Html.ActionLink("Add Product", "AddProducts")
</p>
<table class="user_products_table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InCart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductAisle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="padding-left:18px">
                @Html.CheckBoxFor(modelItem => item.InCart)
            </td>
            <td>
                @Html.ActionLink(item.ProductTitle, "Edit", "UserProduct", new { Id = item.Id }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductAisle)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

